body {
    padding-top: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    background-color: rgb(255,192,203);
}

#main-nav a {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 25px;
    color: rgb(45, 47,50);
    transition: 0.5s;
}

#main-nav a:hover{
    transform: scale(1.1);
    color: rgb(170, 51, 106);
}


#about {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: rgb(45, 47,50);
    height: 100vh;
}


#about h1 {
    color: rgb(221, 221, 224);
    font-size: 4rem;
    margin: 0px;
}

#about h2 {
    margin: 0px;
    color: rgb(255,192,203);
    font-weight: lighter;
    font-style: italic;
    font-size: 2rem;
}

#about p {
    margin: 0px;
    color: rgb(221, 221, 224);
    font-weight: lighter;
    font-size: 1rem;
    transition: 0.7s;
}

#about p:hover{
    transform: scale(1.1);
    color: rgb(225, 192, 203);
}

#services {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: rgb(68,84,124);
}

#services h3 {
    padding: 40px;
    color: rgb(221, 221, 224);
    margin: auto;
    transition: 0.5s;
}

#services h3:hover{
    transform: scaleX(1.5);
}

#services a {
    text-decoration: none;
}

#projects {
    display: flex;
    justify-content: center;
}

#project {
    color: rgb(45, 47, 50);
    margin: 40px;
}

#project img {
    max-width: 100%;
    height: auto;
}

#project p {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: rgb(45, 47, 50);
    color: rgb(221, 221, 224);
}

#end-nav {
    color: rgb(221, 221, 224);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(45, 47, 50);
}

#end-nav h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 3rem;
}


#end-nav nav {
    margin-top: 30px;
    margin-bottom: 100px;
}

#end-nav a {
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(221, 221, 224);
}
